build
.vscode
*.code-workspace
*.old
managed_components/espressif__zlib/.build-test-rules.yml
managed_components/espressif__zlib/.component_hash
managed_components/espressif__zlib/CMakeLists.txt
managed_components/espressif__zlib/idf_component.yml
managed_components/espressif__zlib/LICENSE
managed_components/espressif__zlib/README.md
managed_components/espressif__zlib/sbom_zlib.yml
managed_components/espressif__zlib/test_apps/CMakeLists.txt
managed_components/espressif__zlib/test_apps/main/CMakeLists.txt
managed_components/espressif__zlib/test_apps/main/idf_component.yml
managed_components/espressif__zlib/test_apps/main/zlib_test.c
managed_components/espressif__zlib/zlib/.gitignore
managed_components/espressif__zlib/zlib/adler32.c
managed_components/espressif__zlib/zlib/ChangeLog
managed_components/espressif__zlib/zlib/CMakeLists.txt
managed_components/espressif__zlib/zlib/compress.c
managed_components/espressif__zlib/zlib/configure
managed_components/espressif__zlib/zlib/crc32.c
managed_components/espressif__zlib/zlib/crc32.h
managed_components/espressif__zlib/zlib/deflate.c
managed_components/espressif__zlib/zlib/deflate.h
managed_components/espressif__zlib/zlib/FAQ
managed_components/espressif__zlib/zlib/gzclose.c
managed_components/espressif__zlib/zlib/gzguts.h
managed_components/espressif__zlib/zlib/gzlib.c
managed_components/espressif__zlib/zlib/gzread.c
managed_components/espressif__zlib/zlib/gzwrite.c
managed_components/espressif__zlib/zlib/INDEX
managed_components/espressif__zlib/zlib/infback.c
managed_components/espressif__zlib/zlib/inffast.c
managed_components/espressif__zlib/zlib/inffast.h
managed_components/espressif__zlib/zlib/inffixed.h
managed_components/espressif__zlib/zlib/inflate.c
managed_components/espressif__zlib/zlib/inflate.h
managed_components/espressif__zlib/zlib/inftrees.c
managed_components/espressif__zlib/zlib/inftrees.h
managed_components/espressif__zlib/zlib/LICENSE
managed_components/espressif__zlib/zlib/make_vms.com
managed_components/espressif__zlib/zlib/Makefile
managed_components/espressif__zlib/zlib/Makefile.in
managed_components/espressif__zlib/zlib/README
managed_components/espressif__zlib/zlib/treebuild.xml
managed_components/espressif__zlib/zlib/trees.c
managed_components/espressif__zlib/zlib/trees.h
managed_components/espressif__zlib/zlib/uncompr.c
managed_components/espressif__zlib/zlib/zconf.h
managed_components/espressif__zlib/zlib/zconf.h.cmakein
managed_components/espressif__zlib/zlib/zconf.h.in
managed_components/espressif__zlib/zlib/zlib.3
managed_components/espressif__zlib/zlib/zlib.3.pdf
managed_components/espressif__zlib/zlib/zlib.h
managed_components/espressif__zlib/zlib/zlib.map
managed_components/espressif__zlib/zlib/zlib.pc.cmakein
managed_components/espressif__zlib/zlib/zlib.pc.in
managed_components/espressif__zlib/zlib/zutil.c
managed_components/espressif__zlib/zlib/zutil.h
managed_components/espressif__zlib/zlib/amiga/Makefile.pup
managed_components/espressif__zlib/zlib/amiga/Makefile.sas
managed_components/espressif__zlib/zlib/contrib/README.contrib
managed_components/espressif__zlib/zlib/contrib/ada/buffer_demo.adb
managed_components/espressif__zlib/zlib/contrib/ada/mtest.adb
managed_components/espressif__zlib/zlib/contrib/ada/read.adb
managed_components/espressif__zlib/zlib/contrib/ada/readme.txt
managed_components/espressif__zlib/zlib/contrib/ada/test.adb
managed_components/espressif__zlib/zlib/contrib/ada/zlib-streams.adb
managed_components/espressif__zlib/zlib/contrib/ada/zlib-streams.ads
managed_components/espressif__zlib/zlib/contrib/ada/zlib-thin.adb
managed_components/espressif__zlib/zlib/contrib/ada/zlib-thin.ads
managed_components/espressif__zlib/zlib/contrib/ada/zlib.adb
managed_components/espressif__zlib/zlib/contrib/ada/zlib.ads
managed_components/espressif__zlib/zlib/contrib/ada/zlib.gpr
managed_components/espressif__zlib/zlib/contrib/blast/blast.c
managed_components/espressif__zlib/zlib/contrib/blast/blast.h
managed_components/espressif__zlib/zlib/contrib/blast/Makefile
managed_components/espressif__zlib/zlib/contrib/blast/README
managed_components/espressif__zlib/zlib/contrib/blast/test.pk
managed_components/espressif__zlib/zlib/contrib/blast/test.txt
managed_components/espressif__zlib/zlib/contrib/delphi/readme.txt
managed_components/espressif__zlib/zlib/contrib/delphi/ZLib.pas
managed_components/espressif__zlib/zlib/contrib/delphi/ZLibConst.pas
managed_components/espressif__zlib/zlib/contrib/delphi/zlibd32.mak
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib.build
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib.chm
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib.sln
managed_components/espressif__zlib/zlib/contrib/dotzlib/LICENSE_1_0.txt
managed_components/espressif__zlib/zlib/contrib/dotzlib/readme.txt
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib/AssemblyInfo.cs
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib/ChecksumImpl.cs
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib/CircularBuffer.cs
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib/CodecBase.cs
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib/Deflater.cs
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib/DotZLib.cs
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib/DotZLib.csproj
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib/GZipStream.cs
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib/Inflater.cs
managed_components/espressif__zlib/zlib/contrib/dotzlib/DotZLib/UnitTests.cs
managed_components/espressif__zlib/zlib/contrib/gcc_gvmat64/gvmat64.S
managed_components/espressif__zlib/zlib/contrib/infback9/infback9.c
managed_components/espressif__zlib/zlib/contrib/infback9/infback9.h
managed_components/espressif__zlib/zlib/contrib/infback9/inffix9.h
managed_components/espressif__zlib/zlib/contrib/infback9/inflate9.h
managed_components/espressif__zlib/zlib/contrib/infback9/inftree9.c
managed_components/espressif__zlib/zlib/contrib/infback9/inftree9.h
managed_components/espressif__zlib/zlib/contrib/infback9/README
managed_components/espressif__zlib/zlib/contrib/iostream/test.cpp
managed_components/espressif__zlib/zlib/contrib/iostream/zfstream.cpp
managed_components/espressif__zlib/zlib/contrib/iostream/zfstream.h
managed_components/espressif__zlib/zlib/contrib/iostream2/zstream_test.cpp
managed_components/espressif__zlib/zlib/contrib/iostream2/zstream.h
managed_components/espressif__zlib/zlib/contrib/iostream3/README
managed_components/espressif__zlib/zlib/contrib/iostream3/test.cc
managed_components/espressif__zlib/zlib/contrib/iostream3/TODO
managed_components/espressif__zlib/zlib/contrib/iostream3/zfstream.cc
managed_components/espressif__zlib/zlib/contrib/iostream3/zfstream.h
managed_components/espressif__zlib/zlib/contrib/minizip/configure.ac
managed_components/espressif__zlib/zlib/contrib/minizip/crypt.h
managed_components/espressif__zlib/zlib/contrib/minizip/ioapi.c
managed_components/espressif__zlib/zlib/contrib/minizip/ioapi.h
managed_components/espressif__zlib/zlib/contrib/minizip/iowin32.c
managed_components/espressif__zlib/zlib/contrib/minizip/iowin32.h
managed_components/espressif__zlib/zlib/contrib/minizip/make_vms.com
managed_components/espressif__zlib/zlib/contrib/minizip/Makefile
managed_components/espressif__zlib/zlib/contrib/minizip/Makefile.am
managed_components/espressif__zlib/zlib/contrib/minizip/miniunz.c
managed_components/espressif__zlib/zlib/contrib/minizip/miniunzip.1
managed_components/espressif__zlib/zlib/contrib/minizip/minizip.1
managed_components/espressif__zlib/zlib/contrib/minizip/minizip.c
managed_components/espressif__zlib/zlib/contrib/minizip/minizip.pc.in
managed_components/espressif__zlib/zlib/contrib/minizip/MiniZip64_Changes.txt
managed_components/espressif__zlib/zlib/contrib/minizip/MiniZip64_info.txt
managed_components/espressif__zlib/zlib/contrib/minizip/mztools.c
managed_components/espressif__zlib/zlib/contrib/minizip/mztools.h
managed_components/espressif__zlib/zlib/contrib/minizip/unzip.c
managed_components/espressif__zlib/zlib/contrib/minizip/unzip.h
managed_components/espressif__zlib/zlib/contrib/minizip/zip.c
managed_components/espressif__zlib/zlib/contrib/minizip/zip.h
managed_components/espressif__zlib/zlib/contrib/nuget/nuget.csproj
managed_components/espressif__zlib/zlib/contrib/nuget/nuget.sln
managed_components/espressif__zlib/zlib/contrib/pascal/example.pas
managed_components/espressif__zlib/zlib/contrib/pascal/readme.txt
managed_components/espressif__zlib/zlib/contrib/pascal/zlibd32.mak
managed_components/espressif__zlib/zlib/contrib/pascal/zlibpas.pas
managed_components/espressif__zlib/zlib/contrib/puff/Makefile
managed_components/espressif__zlib/zlib/contrib/puff/puff.c
managed_components/espressif__zlib/zlib/contrib/puff/puff.h
managed_components/espressif__zlib/zlib/contrib/puff/pufftest.c
managed_components/espressif__zlib/zlib/contrib/puff/README
managed_components/espressif__zlib/zlib/contrib/puff/zeros.raw
managed_components/espressif__zlib/zlib/contrib/testzlib/testzlib.c
managed_components/espressif__zlib/zlib/contrib/testzlib/testzlib.txt
managed_components/espressif__zlib/zlib/contrib/untgz/Makefile
managed_components/espressif__zlib/zlib/contrib/untgz/Makefile.msc
managed_components/espressif__zlib/zlib/contrib/untgz/untgz.c
managed_components/espressif__zlib/zlib/contrib/vstudio/readme.txt
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/miniunz.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/miniunz.vcxproj.filters
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/minizip.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/minizip.vcxproj.filters
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/testzlib.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/testzlib.vcxproj.filters
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/testzlibdll.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/testzlibdll.vcxproj.filters
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/zlib.rc
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/zlibstat.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/zlibstat.vcxproj.filters
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/zlibvc.def
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/zlibvc.sln
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/zlibvc.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc10/zlibvc.vcxproj.filters
managed_components/espressif__zlib/zlib/contrib/vstudio/vc11/miniunz.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc11/minizip.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc11/testzlib.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc11/testzlibdll.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc11/zlib.rc
managed_components/espressif__zlib/zlib/contrib/vstudio/vc11/zlibstat.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc11/zlibvc.def
managed_components/espressif__zlib/zlib/contrib/vstudio/vc11/zlibvc.sln
managed_components/espressif__zlib/zlib/contrib/vstudio/vc11/zlibvc.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc12/miniunz.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc12/minizip.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc12/testzlib.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc12/testzlibdll.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc12/zlib.rc
managed_components/espressif__zlib/zlib/contrib/vstudio/vc12/zlibstat.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc12/zlibvc.def
managed_components/espressif__zlib/zlib/contrib/vstudio/vc12/zlibvc.sln
managed_components/espressif__zlib/zlib/contrib/vstudio/vc12/zlibvc.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc14/miniunz.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc14/minizip.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc14/testzlib.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc14/testzlibdll.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc14/zlib.rc
managed_components/espressif__zlib/zlib/contrib/vstudio/vc14/zlibstat.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc14/zlibvc.def
managed_components/espressif__zlib/zlib/contrib/vstudio/vc14/zlibvc.sln
managed_components/espressif__zlib/zlib/contrib/vstudio/vc14/zlibvc.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc17/miniunz.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc17/minizip.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc17/testzlib.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc17/testzlibdll.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc17/zlib.rc
managed_components/espressif__zlib/zlib/contrib/vstudio/vc17/zlibstat.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc17/zlibvc.def
managed_components/espressif__zlib/zlib/contrib/vstudio/vc17/zlibvc.sln
managed_components/espressif__zlib/zlib/contrib/vstudio/vc17/zlibvc.vcxproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc9/miniunz.vcproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc9/minizip.vcproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc9/testzlib.vcproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc9/testzlibdll.vcproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc9/zlib.rc
managed_components/espressif__zlib/zlib/contrib/vstudio/vc9/zlibstat.vcproj
managed_components/espressif__zlib/zlib/contrib/vstudio/vc9/zlibvc.def
managed_components/espressif__zlib/zlib/contrib/vstudio/vc9/zlibvc.sln
managed_components/espressif__zlib/zlib/contrib/vstudio/vc9/zlibvc.vcproj
managed_components/espressif__zlib/zlib/doc/algorithm.txt
managed_components/espressif__zlib/zlib/doc/crc-doc.1.0.pdf
managed_components/espressif__zlib/zlib/doc/rfc1950.txt
managed_components/espressif__zlib/zlib/doc/rfc1951.txt
managed_components/espressif__zlib/zlib/doc/rfc1952.txt
managed_components/espressif__zlib/zlib/doc/txtvsbin.txt
managed_components/espressif__zlib/zlib/examples/enough.c
managed_components/espressif__zlib/zlib/examples/fitblk.c
managed_components/espressif__zlib/zlib/examples/gun.c
managed_components/espressif__zlib/zlib/examples/gzappend.c
managed_components/espressif__zlib/zlib/examples/gzjoin.c
managed_components/espressif__zlib/zlib/examples/gzlog.c
managed_components/espressif__zlib/zlib/examples/gzlog.h
managed_components/espressif__zlib/zlib/examples/gznorm.c
managed_components/espressif__zlib/zlib/examples/README.examples
managed_components/espressif__zlib/zlib/examples/zlib_how.html
managed_components/espressif__zlib/zlib/examples/zpipe.c
managed_components/espressif__zlib/zlib/examples/zran.c
managed_components/espressif__zlib/zlib/examples/zran.h
managed_components/espressif__zlib/zlib/msdos/Makefile.bor
managed_components/espressif__zlib/zlib/msdos/Makefile.dj2
managed_components/espressif__zlib/zlib/msdos/Makefile.emx
managed_components/espressif__zlib/zlib/msdos/Makefile.msc
managed_components/espressif__zlib/zlib/msdos/Makefile.tc
managed_components/espressif__zlib/zlib/nintendods/Makefile
managed_components/espressif__zlib/zlib/nintendods/README
managed_components/espressif__zlib/zlib/old/descrip.mms
managed_components/espressif__zlib/zlib/old/Makefile.emx
managed_components/espressif__zlib/zlib/old/Makefile.riscos
managed_components/espressif__zlib/zlib/old/README
managed_components/espressif__zlib/zlib/old/visual-basic.txt
managed_components/espressif__zlib/zlib/old/os2/Makefile.os2
managed_components/espressif__zlib/zlib/old/os2/zlib.def
managed_components/espressif__zlib/zlib/os400/bndsrc
managed_components/espressif__zlib/zlib/os400/make.sh
managed_components/espressif__zlib/zlib/os400/README400
managed_components/espressif__zlib/zlib/os400/zlib.inc
managed_components/espressif__zlib/zlib/qnx/package.qpg
managed_components/espressif__zlib/zlib/test/example.c
managed_components/espressif__zlib/zlib/test/infcover.c
managed_components/espressif__zlib/zlib/test/minigzip.c
managed_components/espressif__zlib/zlib/watcom/watcom_f.mak
managed_components/espressif__zlib/zlib/watcom/watcom_l.mak
managed_components/espressif__zlib/zlib/win32/DLL_FAQ.txt
managed_components/espressif__zlib/zlib/win32/Makefile.bor
managed_components/espressif__zlib/zlib/win32/Makefile.gcc
managed_components/espressif__zlib/zlib/win32/Makefile.msc
managed_components/espressif__zlib/zlib/win32/README-WIN32.txt
managed_components/espressif__zlib/zlib/win32/VisualC.txt
managed_components/espressif__zlib/zlib/win32/zlib.def
managed_components/espressif__zlib/zlib/win32/zlib1.rc
